<meta charset="utf-8">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <p v-if="logado"> Usuário Logado: {{nome}}</p>
    <!-- <p v-if="!logado"> Nenhum usuário Logado</p> -->

    <!-- v-else só funciona se o evento anterior for um v-if se tiver um elemento no meio não funciona -->
    <p v-else> Nenhum usuário Logado</p>
    <button @click="logado= !logado"> {{ logado? "Sair":"Entrar" }}</button>
</div>

<script>

    new Vue({
        el: "#app",
        data: {
            nome: "Maria",
            logado: false
        }
    })

</script>