<script src="https://unpkg.com/vue"></script>

<style>
    .caixas {
        display: flex;
        justify-content: space-between;
    }

    .demo {
        width: 100px;
        height: 100px;
        background-color: grey;
    }

    .c1 {
        background-color: red;
    }

    .c2 {
        background-color: green;
    }

    .c3 {
        background-color: blue;
    }

    .girar {
        transform: rotate(45deg);
    }
</style>

<div id="app">
    <div class="caixas">
        <div class="demo" :syle="{'background-color':cor}" @click="aplicarC1 = !aplicarC1"></div>
        <div class="demo" :style=[meuEstilo,{height:altura}] @click="aplicarC2 = !aplicarC2"></div>
        <div class="demo" :style='[meuEstilo,{"height":altura, width:altura,border:"4px solid"}]' ></div>
    </div>
    <br>
    <br>
    <input type="text" v-model="cor">
    <input type="number" v-model="altura">
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            cor: 'red',
            largura: 100,
            altura: 50
        },
        computed:
        {
            meuEstilo() {
                return {
                    'background-color': this.cor,
                    // 'width': this.largura + 'px'
                }
            },
        }
    })
</script>